body{
    background-color:#f7f7f9;
}
.main{
    background-color: white;
    margin:30px;
}
.btn-publish{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    width: 38px;
    height: 38px;
}
.media-body
{
    padding-top: 4px;
}
.text-desc{
font-size: 12px;
font-weight: normal;
color: #999;}
.paging{
    float:right;
}
.profile .section
{
    margin-top:20px;
}
.comment{
    margin:6px 0px;
}
.comment-btn{
    float:right;
    margin-bottom: 5px;
}