<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hncj</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navi :: nav_top}"></div>
<div class="container-fluid  main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr style="color: #c1e2b3">
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题描述</label>
                    <input type="hidden" name="id" th:value="${id}">
                    <input type="text" th:value="${title}"  name=title class="form-control" id="title" placeholder="question..."
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" th:text="${description}"  name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">标记</label>
                    <input type="text" name="tag" th:value="${tag}" class="form-control" id="tag" placeholder="输入标记，以，隔开"
                    autocomplete="off">
                </div>
                <span class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h3>发布问题指南</h3>
            一、不开心时，做个深呼吸，不过是糟糕的一天而已，又不是糟糕一辈子。
            二、心情就像衣服，脏了就拿去洗洗，晒晒阳光自然就会蔓延开来，阳光那么好何必自寻烦恼。
            三、在这个滥情的年代，一声“亲爱的”充其量也就是个你好，一句“下次请你吃饭”顶多算个谢谢，何必太认真
            四、每个人都会累，没人能为你承担所有的伤悲，人总有那么一段时间要学会自己长大。
            五、生活不是林黛玉，不会因为忧伤而风情万种。
            六、随着年龄的增长，我们愈加发现，或许我们并不是失去了一些人，而是更加懂得到底谁才是最重要的人。
            七、懒于解释，也无谓能否做个好人，活得不尽纯粹，至少要过得干净利落。
            八、天空没有停不了的阴雨，只有放不下的回忆；人生没有过不去的经历，只有走不出的自己。没必要总是埋怨自己，努力了、珍惜了、心安理得就好！
            九、没必要刻意遇见谁，也不急于遇见谁，更不勉强留住谁，一切顺其自然，最好的自己留给值得珍惜的人
        </div><!--一大段文字-->
    </div>
</div>
</body>
</html>